body {
  text-align: center;
}

h1 {
  color: peru;
}

#form-hold {
  width: 500px;
  max-width: 600px;
  margin: 3rem auto;
}

button {
  margin: 1.5rem auto 1rem;
}


.error-heading {
  color: #000;
  font-size: 20rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}